div.input-group input
{
   max-width: 500px;
}

.costs
{
   display: flex; 
   justify-content: space-between;
}

span
{
   font-size: 20px;
}

button
{
   max-width: 250px;
   margin-top: 10px;
}

.modal-body
{
   display: flex;
   flex-direction: column;
}

input[type=text]:not([name=first]), input[type=date]
{
   margin-top: 10px;
}

input.direccion
{
   margin-left: 60px;
}

.alert
{
   display: none;
}