#carousel {
   max-width: 600px;
   min-width: 600px;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

.price-and-name {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   margin-left: 1rem;
   border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.product-section {
   margin-top: 1rem;
   margin-bottom: 1rem;
   padding-top: 10px;
   border: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.checked {
   color: orange;
}

#textComentario {
   border: 2px solid #0087f7;
}

#noPuntuo {
   display: none;
   color: red;
   margin-top: 15px;
}

#noJustifico {
   display: none;
   color: red;
   margin-top: 15px;
   margin-left: 10px;
}

.rating {
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
   align-items: center;
   width: 500px;
}

.rating > input {
   display: none;
}

.rating > label {
   position: relative;
   width: 1em;
   font-size: 50px;
   color: #ffd600;
   cursor: pointer;
}

.rating > label::before {
   content: "\2605";
   position: absolute;
   opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
   opacity: 1 !important;
}

.rating > input:checked ~ label:before {
   opacity: 1;
}

.rating:hover > input:checked ~ label:before {
   opacity: 0.4;
}
